* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    font-family: "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  a,
  a:-webkit-any-link a:active {
    all: unset;
    cursor: pointer;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: "Markazi Text", serif;
    font-weight: 500;
  }
  h1,
  h2 {
    font-size: 8.5rem;
  
    @media (max-width: 60rem) {
      font-size: 7.5rem;
    }
  }
  h3 {
    font-size: 5.3rem;
  }
  h4 {
    font-size: 2.4rem;
  }
  
  p,
  span {
    font-family: "Karla", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
  
    @media (max-width: 60rem) {
      font-size: 1.6rem;
    }
  }
  
  img {
    border-radius: 1.6rem;
  }
  
  .headline {
    /* font-family: "Markazi Text", serif;*/
    font-family: "Karla", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .widthContainer {
    width: 100rem;
    height: 100%;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
  
    @media (max-width: 80rem) {
      width: 100%;
      margin: 0;
      // padding: 0;
      // width: 80%;
      overflow: hidden;
    }
  }
  
  // .icon {
  //   position: absolute;
  
  //   padding-top: 3.5rem;
  //   padding-left: 1.5rem;
  
  //   // padding: 10px;
  //   font-size: 1.8rem;
  // }