$colorPrimaryGreen: #495e57;
$colorPrimaryYellow: #f4ce14;

$colorPrimaryYellowDark: #bfa31a;

$colorSecondaryOne: #ee9972;
$colorSecondaryTwo: #fbdabb;

$colorGreyLight: #edefee;
$colorGreyDark: #333333;

$colorGreyText: #2020209d;