@import "../../style/variables.scss";

.btnLink {
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 1.6rem;
  padding: 0.5rem 1rem;

  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;

  display: flex;

  transition: all 0.5s;
}

.btnLink:hover {
  background: $colorPrimaryYellow;
  //   transition: all 0.5s;
}

.icon {
  height: 2rem;
  margin-left: 1rem;
}