@import "../../style/variables.scss";

.aboutContainer {
  //   width: 100rem;
  margin: 10rem 0 1rem 0;

  display: grid;
  grid-template-columns: 1fr 1.2fr;
  column-gap: 8rem;

  @media (max-width: 45rem) {
    grid-template-columns: 1fr;
  }
}

.h2Title {
  display: inline-block;
  color: $colorPrimaryGreen;
  margin-bottom: -10rem;
}

.h3Title {
  margin-bottom: 1.5rem;
  color: $colorPrimaryYellow;
}

.textContainer {
  margin: 5rem 0 10rem 0;
  width: 100%;

  & p {
    font-weight: 500;
  }

  @media (max-width: 45rem) {
    margin: 0rem 0 5rem 0;
  }
}

.imagesBox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15rem;
  width: 100%;

  @media (max-width: 45rem) {
    grid-row: 1;
  }
}

.imgOne,
.imgTwo {
  width: 30rem;
  height: 35rem;
  // vertical-align: middle;
  object-fit: cover;
  //   margin-right: 4rem;

  @media (max-width: 60rem) {
    width: 25rem;
  }

  @media (max-width: 50rem) {
    width: 20rem;
  }

  @media (max-width: 45rem) {
    width: 70%;
  }
}
.imgOne {
  position: absolute;
  top: 8rem;
  left: 0;
}